* {
	margin:0;
	padding:0;
	outline:0;  

}

    body{
        font-size:12px;
	line-height:1.3;
	font-family:Arial, Helvetica, Sans-Serif;
	color:#ccc;
        background: url('img/body-bg.gif');
    }

    #navigation {
        margin-top: 10px;
         margin-right: 100px;
	float:right;
	clear:right;
	padding-top:28px;
	padding-bottom:47px;
}
#navigation ul {
	list-style:none;
}
#navigation ul li {
	float:left;
	display:inline;
	padding-left:29px;
}
#navigation ul li a {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}
#navigation ul li a.active, #navigation ul li a:hover {
	color:#d91d2a;
}
#navigation img{
    height: 40px;
  width: "100%";
}
#navigation ul li img {
    float: left;
    margin-top: 0px;

}
#logo img {
  height:100px ;
  width: 180px;
}

#sub-navigation {
	display:block;
	clear:right;
	border-top:1px dashed #666;
	border-bottom:1px dashed #666;
	padding:8px 0px;
}
#sub-navigation ul {
	list-style:none;
}
#sub-navigation ul li {
	float:left;
	display:inline;
	padding-right:23px;
}
#sub-navigation ul li a {
  margin-left: 10px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:24px;
	text-decoration:none;
}
#sub-navigation ul li a:hover {
	text-decoration:underline;
}
#search {
	width:346px;
	margin:0 0 0 auto;
}
#search label {
	float:left;
	display:inline;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:24px;
	padding-right:6px;
}
#search .search-field {
	width:238px;
	border:1px solid #413e3e;
	background:#000;
	color:#787878;
	padding:2px 0 2px 2px;
}
#search .search-button {
	font-size:14px;
	font-weight:bold;
	border:0;
	background:none;
	color:#fff;
	cursor:pointer;
}


/*-------------------------*/
.cl {
	display:block;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	clear:both;
}

.head h2 {
	margin-top: 20px;
	margin-left: 10px;
	color: orange;
	font-size: 15px;
	
}
.head a {
	color: orange;
	float: right;
	margin-right: 10px;
}
#main {
	margin-top: 20px;
	margin-inline-start: 100px;

	
}
#main .movie {
	float: left;
	margin-left: 30px;
}
#main .movie-image:hover {
	
	opacity: .8;
	cursor: pointer;
}


.container .box {
	border-bottom:1px dashed #666;

}

#main .movie .rating {
	font-size: 10px;
}


#main .movie .rating .watch {
	float: right;
	
}



button{
	margin-bottom: 10px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding:1px;
  }
  button:hover{
	background-color: red;
	border: 1px solid gray;
	color: white;
	transition: .5s;
	cursor: pointer;
  }





.newsall {
	margin-left: 300px;
	margin-top: 20px;
}
#news {
	width:460px;
	float:left;
}
#news .head {
	width:460px;
	padding-top:11px;
	padding-bottom:14px;
}
#news h3, #coming h3 {
	float:left;
}
#coming {
	width:490px;
	float:left;
	padding-left:30px;
}
#coming .head {
	width:490px;
	padding-top:11px;
	padding-bottom:14px;
}
#coming .head strong {
	color:#ff361a;
}
#coming .content {
	min-height:130px;
	height:auto !important;
	height:130px;
	padding-bottom:20px;
}
#coming .content h4 {
	padding-bottom:3px;
}
.content {
	padding-bottom:28px;
}
.content .date {
	font-size:10px;
	color:#fff;
}
.content img {
	float:left;
	width:68px;
	padding-right:8px;
}
.content p {
	font-size:13px;
	color:#fff;
	line-height:16px;
}
.content a {
	font-size:11px;
}
#footer {
	padding:15px 0 0 0;
	font-size:10px;
}
#footer, #footer a {
	color:#9c9c9c;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:none;
}
#footer p {
	margin:0;
	padding:0 0 11px 0;
	line-height:normal;
	white-space:nowrap;
}
#footer .lf {
	float:left;
}
#footer .rf {
	float:right;
}

.newsall a {
	color: orange;
}



/*-----------------------------View Movie -----------------------------*/
.viewmode { 
	margin-top: 50px;
	margin-left: 40px;
	color: white;
}
iframe {
	float: right;
	
}

#frame img {
	
	width: 250px;
	height: 315px;
}

#frame h2 {
	font-size: 40px;
	
}

#frame p {
	color: orange
}
#frame, #frametext h3{
	float:;
}
#frametext {
	width:490px;
	float: ;
	padding-left:30px;
}
#details {
	margin-top: 20px;
}

/*-----------------------------News-----------------------------*/

#newsbox {
	border-bottom: 3px solid red;
  background-color: lightgrey;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-right: 30px;
	
}
#newsimg {
	

}
#newsword {
	color: black;
	
	text-align:center;
	
}

/*-----------------------------Comment Box-----------------------------*/
table tr td{
	
	border: 1px ;
	background-color: lightgrey;
	border-bottom: 2px solid red;
	border-radius: 8px;
	padding: 15px 5px;
	
	
}

.comment p {
	margin-left: 20px;
	color: white;
	
	border: 1px ;
	background-color: lightgrey;
	border-bottom: 2px solid red;
	border-radius: 8px;
	padding: 15px 5px;

}



#nam {
	width: 20%;
  padding: 8px 20px;
  margin-left: 32px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
}

#comm{
	width: 20%;
	padding: 50px 20px;
	margin: 5px 0;
	margin-left: 35px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 8px;
	
}


#cmt {
	background-color: #4CAF50;
  color: white;
  padding: 7px 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
  width: 20%;
  
}
#cmt {
	margin-left: 35px;
	border-radius: 8px;
}







/*-------Poll bar--------*/
.pollbar {
	font-size: 20px;
	color: white; 
	margin-left: 100px;
	margin-right: 100px;
}

.pollbar h2 {
	
	

}



/* Subscribe field*/
form {
	
	border: 0px solid #f1f1f1;
  }
  
  
  .subscribe{
	padding: 20px;
	background-color:transparent;


  }
  
  
  input[type=text], input[type=submit] {
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	
	box-sizing: border-box;
  }
  
 
  input[type=checkbox] {
	margin-top: 16px;
  }
  
  
  input[type=submit] {

	background-color: #4CAF50;
	color: white;
	border: none;
  }
  
  input[type=submit]:hover {
	opacity: 0.8;
  } 